@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500&family=Roboto:wght@400;500;700&display=swap");
/* reset styles */
* {
  color: inherit;
  margin: 0;
  box-sizing: border-box;
  border: 1px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #656565;
  line-height: 1.2;
  overflow-y: scroll;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid #656565;
}

img {
  max-width: 100%;
}

.thumb:hover {
  cursor: pointer;
}

textarea {
  resize: none;
}

form * {
  background-color: transparent;
  max-width: 400px;
}
form label {
  padding-top: 0.75rem;
}
form input,
form textarea {
  width: 100%;
  border: #656565 solid 1px;
  border-radius: 4px;
  padding: 0.75rem;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 1rem;
}

.gap-1 {
  margin-left: -1rem;
  margin-right: -1rem;
}

.gap-2 > * {
  padding: 2rem;
}

.gap-2 {
  margin-left: -2rem;
  margin-right: -2rem;
}

.gap-3 > * {
  padding: 3rem;
}

.gap-3 {
  margin-left: -3rem;
  margin-right: -3rem;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.align-flex-start {
  align-items: flex-start;
}

.align-flex-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-baseline {
  align-items: baseline;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 320px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 700px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1081px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1285px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.text-primary {
  color: #231F20;
}

.text-hover-primary:hover {
  color: #231F20;
}

.bg-primary {
  background-color: #231F20;
}

.text-secondary {
  color: #656565;
}

.text-hover-secondary:hover {
  color: #656565;
}

.bg-secondary {
  background-color: #656565;
}

.text-accent {
  color: #FF9300;
}

.text-hover-accent:hover {
  color: #FF9300;
}

.bg-accent {
  background-color: #FF9300;
}

.text-light-bg {
  color: #EBEFF7;
}

.text-hover-light-bg:hover {
  color: #EBEFF7;
}

.bg-light-bg {
  background-color: #EBEFF7;
}

.text-dark-bg {
  color: #DFE3EB;
}

.text-hover-dark-bg:hover {
  color: #DFE3EB;
}

.bg-dark-bg {
  background-color: #DFE3EB;
}

.text-blue {
  color: #1919e6;
}

.text-hover-blue:hover {
  color: #1919e6;
}

.bg-blue {
  background-color: #1919e6;
}

.text-red {
  color: #e61919;
}

.text-hover-red:hover {
  color: #e61919;
}

.bg-red {
  background-color: #e61919;
}

.text-yellow {
  color: #e6e619;
}

.text-hover-yellow:hover {
  color: #e6e619;
}

.bg-yellow {
  background-color: #e6e619;
}

.text-green {
  color: #19e635;
}

.text-hover-green:hover {
  color: #19e635;
}

.bg-green {
  background-color: #19e635;
}

.text-orange {
  color: #ffa600;
}

.text-hover-orange:hover {
  color: #ffa600;
}

.bg-orange {
  background-color: #ffa600;
}

.text-purple {
  color: #9900ff;
}

.text-hover-purple:hover {
  color: #9900ff;
}

.bg-purple {
  background-color: #9900ff;
}

.text-gray {
  color: #808080;
}

.text-hover-gray:hover {
  color: #808080;
}

.bg-gray {
  background-color: #808080;
}

.text-black {
  color: black;
}

.text-hover-black:hover {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

.text-hover-white:hover {
  color: white;
}

.bg-white {
  background-color: white;
}

.text-none {
  color: transparent;
}

.text-hover-none:hover {
  color: transparent;
}

.bg-none {
  background-color: transparent;
}

.btn-transparent, .btn {
  padding: 1rem 5rem;
  border: none;
  font-weight: 700;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}
.btn-transparent:hover, .btn:hover {
  cursor: pointer;
}

.btn-transparent {
  border: 2px solid #FF9300;
  padding: 1rem 2rem;
}

.footer, .section-6, .section-5, .section-4, .section-3, .section-2, .section-1, .navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar {
  background-color: #DFE3EB;
  padding: 0.75rem 2.25rem;
  position: absolute;
  top: 0;
  font-weight: 500;
}
.navbar > img {
  max-width: 100px;
  margin: 0 auto;
}
@media (min-width: 700px) {
  .navbar {
    padding: 0.75rem;
  }
  .navbar div {
    margin-top: 0;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .navbar div .tabs {
    margin-right: 1rem;
  }
}
@media (min-width: 1081px) {
  .navbar {
    background-color: transparent;
    padding: 0.75rem 3rem;
  }
  .navbar .tabs {
    margin-right: 5rem;
  }
  .navbar div {
    justify-content: space-between;
  }
}
@media (min-width: 1285px) {
  .navbar {
    justify-content: space-between;
    padding: 2.25rem 9rem;
  }
  .navbar .tabs {
    max-width: 800px;
  }
  .navbar > img {
    max-width: 200px;
    margin: 0;
  }
  .navbar > div {
    justify-content: space-between;
  }
  .navbar > div .icons {
    max-width: 120px;
    margin-left: 20px;
  }
}

.section-1 {
  padding: 2.25rem;
  background: #EBEFF7;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 250px;
}
.section-1 > div * {
  margin-bottom: 1rem;
}
@media (min-width: 1081px) {
  .section-1 {
    padding: 3rem;
  }
}
@media (min-width: 1285px) {
  .section-1 {
    padding: 3rem 9rem;
  }
}
.section-1 .thumb {
  width: 6rem;
}
@media (min-width: 700px) {
  .section-1 .thumb {
    width: 10rem;
  }
}
@media (min-width: 1081px) {
  .section-1 {
    background: linear-gradient(to right, #DFE3EB 30%, #EBEFF7 30%);
    padding-top: 150px;
    flex-direction: row;
  }
  .section-1 .social {
    flex-direction: column;
  }
}
@media (min-width: 700px) {
  .section-1 .thumb {
    width: 6rem;
  }
}

.section-2 {
  padding: 2.25rem;
  background: url("../img/backgrounds/mask_group_7.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  color: #fff;
  align-items: flex-start;
  height: 550px;
}
.section-2 > div * {
  margin-bottom: 1rem;
}
@media (min-width: 1081px) {
  .section-2 {
    padding: 3rem;
  }
}
@media (min-width: 1285px) {
  .section-2 {
    padding: 3rem 9rem;
  }
}
.section-2 .selected {
  border-bottom: 5px solid #FF9300;
}
.section-2 .tabs {
  border-bottom: 1px solid #656565;
}
.section-2 .tabs * {
  margin-bottom: 0;
}
.section-2 .tabs p:hover {
  cursor: pointer;
}
@media (min-width: 1285px) {
  .section-2 {
    color: #656565;
    height: 885px;
  }
  .section-2 .tabs {
    font-size: 1.5rem;
  }
  .section-2 > div {
    margin-top: 250px;
  }
}

.section-3 {
  padding: 2.25rem;
  background: rgb(224, 207, 195);
  background-size: cover;
  background-position: center;
  width: 100%;
}
.section-3 > div * {
  margin-bottom: 1rem;
}
@media (min-width: 1081px) {
  .section-3 {
    padding: 3rem;
  }
}
@media (min-width: 1285px) {
  .section-3 {
    padding: 3rem 9rem;
  }
}
@media (min-width: 700px) {
  .section-3 div {
    flex-direction: row;
    justify-content: flex-start;
  }
}
@media (min-width: 1081px) {
  .section-3 {
    background-image: url("../img/backgrounds/mask_group_13.png");
    background-size: cover;
    justify-content: flex-end;
  }
}
@media (min-width: 1285px) {
  .section-3 {
    height: 885px;
  }
}

.section-4 {
  padding: 2.25rem;
  background: #EBEFF7;
  background-size: cover;
  background-position: center;
  width: 100%;
}
.section-4 > div * {
  margin-bottom: 1rem;
}
@media (min-width: 1081px) {
  .section-4 {
    padding: 3rem;
  }
}
@media (min-width: 1285px) {
  .section-4 {
    padding: 3rem 9rem;
  }
}
@media (min-width: 1285px) {
  .section-4 .items * {
    align-items: center;
  }
  .section-4 .items p {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .section-4 .items .text-accent {
    font-size: 3rem;
  }
}

.section-5 {
  padding: 2.25rem;
  background: #DFE3EB;
  background-size: cover;
  background-position: center;
  width: 100%;
}
.section-5 > div * {
  margin-bottom: 1rem;
}
@media (min-width: 1081px) {
  .section-5 {
    padding: 3rem;
  }
}
@media (min-width: 1285px) {
  .section-5 {
    padding: 3rem 9rem;
  }
}

.section-6 {
  padding: 2.25rem;
  background: #EBEFF7;
  background-size: cover;
  background-position: center;
  width: 100%;
}
.section-6 > div * {
  margin-bottom: 1rem;
}
@media (min-width: 1081px) {
  .section-6 {
    padding: 3rem;
  }
}
@media (min-width: 1285px) {
  .section-6 {
    padding: 3rem 9rem;
  }
}
.section-6 > div {
  margin-top: 1rem;
}
.section-6 > div:not(:last-child) {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #DFE3EB;
}
@media (min-width: 1081px) {
  .section-6 {
    align-items: flex-start;
  }
  .section-6 > div:not(:last-child) {
    border: none;
  }
}

.footer {
  padding: 0.75rem 2.25rem;
  background: #DFE3EB;
  width: 100%;
}
@media (min-width: 1081px) {
  .footer {
    padding-left: 3rem;
  }
}
@media (min-width: 1285px) {
  .footer {
    padding: 2.25rem 9rem;
  }
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4.5rem;
}

.p-5 {
  padding: 6rem;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4.5rem;
}

.pl-5 {
  padding-left: 6rem;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4.5rem;
}

.pr-5 {
  padding-right: 6rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.pt-5 {
  padding-top: 6rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.pb-5 {
  padding-bottom: 6rem;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4.5rem;
}

.m-5 {
  margin: 6rem;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 0.75rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4.5rem;
}

.ml-5 {
  margin-left: 6rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4.5rem;
}

.mr-5 {
  margin-right: 6rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.br {
  border-radius: 20px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 5px;
}

.br-sm {
  border-radius: 10px;
}

.br-lg {
  border-radius: 40px;
}

.br-full {
  border-radius: 50%;
}

.bs-solid {
  border-style: solid;
}

.display-n {
  display: none;
}

.display-b {
  display: block;
}

.display-f {
  display: flex;
}

.display-i {
  display: inline;
}

.display-i-b {
  display: inline-block;
}

.font-sm {
  font-size: 0.75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 3rem;
}

.font-heading {
  font-size: 4rem;
}

.font-secondary {
  font-family: "Oswald";
}

.font-w-el {
  font-weight: 200;
}

.font-w-l {
  font-weight: 300;
}

.font-w-r {
  font-weight: 400;
}

.font-w-m {
  font-weight: 500;
}

.font-w-b {
  font-weight: 700;
}